.tags{

}

.tag-btn{

}
.grid-list{
    display: grid;
    gap: 20px;
}
.container{
    display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
}
li{
    list-style: none;
}
.container::-webkit-scrollbar {
    display: none;
  }
  .tag-btn{
    width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  border-radius: 15px;
  background: oldlace;
  }

  